$navbar-default-bg: #D4E6F1;


@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-soze: 1.7em;
  letter-spacing: -1px;
  font-weight: bold;
  
}

#logo:hover {
    color: #fff;
    text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('new_cover.png');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #B8AC54;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black; 
}

footer {
  margin-top: 45px;
  padding-top: 10px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
 float: right;
 list-style: none;
}

footer ul li {
 float: left;
 maring-left: 15px;
}
